
.svg path{
  fill: transparent;
  stroke: #1fb50c;
  stroke-width: 2;
  cursor: pointer;
  -webkit-transition: fill .2s ease, stroke .2s ease, -webkit-transform .2s ease;
  transition: fill .2s ease, stroke .2s ease, -webkit-transform .2s ease;
  transition: fill .2s ease, stroke .2s ease, transform .2s ease;
  transition: fill .2s ease, stroke .2s ease, transform .2s ease, -webkit-transform .2s ease;
}
.svg path:hover{
  fill: #d7c378;
  stroke: #d7c378;
}
.svg text{
  fill: #1fb50c;
  font-weight: bold;
}
.svg-text{
display: none;
}
@media screen and (min-width: 375px) {
  .svg-text{
    font-size: .75rem;
    display: inline;
  }
  .svg-title{
    font-size: 1rem;
  }
}
@media screen and (min-width: 768px) {
  .svg-title{
    font-size: 1.25rem;
  }
}
@media screen and (min-width: 992px) {
  .svg-text{
    font-size: .75rem;
  }
  .svg-title{
    font-size: 1.5rem;
  }
}